*.cpg
*.dbf
*.prj
*.shx
Dados consolidado/BR_Municipios_2022/BR_Municipios_2022.cpg
*.shp
*.zip
*.ods
*.txt
*.shp
Dados consolidado/Eleicoes/votacao_candidato_munzona_2002/votacao_candidato_munzona_2002_BRASIL.csv
Dados consolidado/Eleicoes/votacao_candidato_munzona_2006/votacao_candidato_munzona_2006_BRASIL.csv
Dados consolidado/Eleicoes/votacao_candidato_munzona_2014/votacao_candidato_munzona_2014_BRASIL.csv
Dados consolidado/Eleicoes/votacao_candidato_munzona_2010/votacao_candidato_munzona_2010_BRASIL.csv
Dados consolidado/Eleicoes/votacao_candidato_munzona_2018/eleicao_2018_deputados.csv
