*.cpg
*.dbf
*.prj
*.shx
Dados consolidado/BR_Municipios_2022/BR_Municipios_2022.cpg
*.shp
*.zip
*.ods
*.txt
*.shp
Dados consolidado/Eleicoes/votacao_candidato_munzona_2002/votacao_candidato_munzona_2002_BRASIL.csv
Dados consolidado/Eleicoes/votacao_candidato_munzona_2006/votacao_candidato_munzona_2006_BRASIL.csv
Dados consolidado/Eleicoes/votacao_candidato_munzona_2014/votacao_candidato_munzona_2014_BRASIL.csv
Dados consolidado/Eleicoes/votacao_candidato_munzona_2010/votacao_candidato_munzona_2010_BRASIL.csv
Dados consolidado/Eleicoes/votacao_candidato_munzona_2018/eleicao_2018_deputados.csv
/Dados consolidado/Territorio BR/DTB_2023
/Dados consolidado/Votacoes
/Dados consolidado/Eleicoes
Dados consolidado/.vs/Dados consolidado/CopilotIndices/17.13.444.19527/CodeChunks.db
Dados consolidado/.vs/Dados consolidado/CopilotIndices/17.13.444.19527/SemanticSymbols.db
Dados consolidado/.vs/Dados consolidado/FileContentIndex/e9657894-8e9f-4617-86e7-ba1727ff3e1a.vsidx
/Dados consolidado/.vs
